<div class="content-wrapper pt-5">
  <div class="container">

    <main>
      <div class="profile">
        <img src="assets/img/Duksaen.png" alt="Profile Picture">
        <h1>Dduksa_en Admin</h1>
        <p>Email: Duksaen@gmail.com</p>

        <button>Edit Profile</button>
      </div>
      <div class="profile-actions">
        <button>Change Profile Picture</button>
        <button>Change Password</button>
        <button>Delete Account</button>
      </div>
    </main>
  
  </div>
</div>
