<!-- <div class="content-wrapper pt-5 ml-auto">

  <section class="form-v9-content" style="background-image: url('images/form-v9.jpg')" >
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header m-auto">
            <h3 class="card-title">Register Your grand Hotel</h3>

          </div>

          <div class="card-body">
            <form
              [formGroup]="registrationForm"
              (ngSubmit)="Signup()"
              enctype="multipart/form-data"
            >
              <div class="row">
                <div class="col-6">
                  <label for="name"><code>hotelName</code></label>
                  <input
                    type="text"
                    formControlName="hotelName"
                    id="hotel_name"
                    placeholder="Name"
                    value=""
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label for="userName"><code>userName</code></label>
                  <input
                    type="text"
                    formControlName="userName"
                    id="phone_no"
                    placeholder="userName..."
                    value=""
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label for="userName"><code>category</code></label>
                  <input
                    type="text"
                    formControlName="category"
                    id="phone_no"
                    placeholder="userName..."
                    value=""
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label for="phoneNumber"><code>phoneNumber</code></label>
                  <input
                    type="number"
                    formControlName="phoneNumber"
                    id="phone_no"
                    placeholder="phoneNumber..."
                    value=""
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <label for="email"><code>Email</code></label>
                  <input
                    type="email"
                    formControlName="email"
                    id="email"
                    min="1"
                    max="40"
                    placeholder="Email"
                    value=""
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label for="userName"><code>password</code></label>
                  <input
                    type="password"
                    formControlName="password"
                    id="password"
                    placeholder="password.."
                    value=""
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label for="address_1"><code>hotelAddress </code></label>
                  <textarea
                    formControlName="hotelAddress"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="profile"><code>profile picture</code></label>
                  <div class="col-sm-12">
                    <input
                      class="form-control"

                      type="file"
                      id="formFile"
                      (change)="onFileSelected($event)"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <label for="city"><code>select city</code></label>
                  <div class="col-sm-12">
                    <select
                      class="form-select"
                      formControlName="country"
                      aria-label="Default select example"
                    >
                      <option selected>--</option>
                      <option value="1">skardu</option>
                      <option value="2">Gilgit</option>
                      <option value="3">Hunza</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="description"><code>Description </code></label>
                  <textarea
                    formControlName="description"
                    class="form-control"
                  ></textarea>
                </div>
              </div>

              <div class="row">
                <div class="card-header ml-auto">
                  <h3 class="card-title text-center">provide user Details</h3>
                </div>

                <div class="col-6">
                  <label for="name"><code>CNIC</code></label>
                  <input
                    type="text"
                    formControlName="cnic"
                    id="name"
                    placeholder="CNIC "
                    value=""
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row"></div>
              <div class="row">
                <div class="col-6">
                  <input
                    type="submit"
                    value="REGISTER"
                    class="btn btn-primary btn-sm float-right"
                  />
                   <div class="col-6 text-center">
                  <a routerLink="/login">Already Registred </a>

                </div>


                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>







 -->
