<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>DuksaEn</h3>
            <p>
              Sidra Aslam <br />
              8797 <br /><br />
              <strong>Phone:</strong> +92 3245191031>
              <strong>Email:</strong>Engr.sidraehmad@gmail.com<br />
            </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/Duksa_En?t=vIueGjHWld-hmD7_tqbLug&s=09" class="twitter"><i
                  class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100089198427845&mibextid=ZbWKwL" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/duksa_en?igshid=MzRlODBiNWFlZA==" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://youtube.com/@duksa_En" class=""><i class="bx bxl-youtube"></i></a>

            </div>
          </div>
        </div>



        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a routerLink="/superadmin">portalAdmin</a>
            </li>
            <li>

            <li>
              <i class="bx bx-chevron-right"></i><a class="nav-link scrollto" routerLink="/signin">Register Hotels</a>
            </li>

            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Product Management</a>
            </li>

          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>
            We've recently launched a new product that we think you'll love.
            It's designed to help you Register your Hotels and increase
            productivity, and we're offering a special discount to our
            subscribers. signup your Grand Hotel right now.
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input type="submit" value="Subscribe" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong> 2023 - 2025 <span>BATCH</span> Abasyn University Islamabad Campus</strong>. All Rights
      Reserved
    </div>
    <div class="credits">
      Designed by
      <a href="https://hanzalakhan101010@gmail.com/">Sidra Aslam</a>
    </div>
  </div>

</footer>