<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img
      src="assets/img/chefs/shang8.jpg"
      class="img-circle elevation-2"
      alt="User Image"
    />
  </div>
  <div class="info">
    <a routerLink="/home" class="d-block">Hotel Admin</a>
  </div>
</div>

<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <li class="nav-item">
      <a routerLink="./dash" class="nav-link">
        <i class="nav-icon fas fa-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="./BookingStatus" class="nav-link">
        <i class="nav-icon fas fa-broom"></i>
        <p>Reservation</p>
      </a>
    </li>



    <li class="nav-item">
      <a routerLink="./dash" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>Booking Management</p>
      </a>
    </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-building" aria-hidden="true"></i>
          <p>
            Room Management
          <i class="fas fa-angle-left right"></i>
          </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <!-- <a routerLink="/dash" class="nav-link">
              <i class="fas fa-h-square" aria-hidden="true" routerLink="./addroom"></i>
              <p> ALL Rooms</p>
              </a> -->
              </li>
              </ul>
              <ul class="nav nav-treeview">
              <li class="nav-item">
              <a routerLink="./addroom" class="nav-link">
                  <i class="fas fa-plus-square" aria-hidden="true"></i>
                <p>ADD Rooms</p>
                </a>
                </li>
                </ul>

                <ul class="nav nav-treeview">
                <!-- <li class="nav-item">
                <a routerLink="" class="nav-link">
                 <i class="fa fa-edit" aria-hidden="true"></i>
                <p>Edit Rooms</p>
                </a>
                </li> -->

          </ul>
          </li>

    <li class="nav-item">
      <a routerLink="./uadmin" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>profile Management</p>
      </a>
    </li>








    <!-- Gallery  -->
    <li class="nav-item">
      <a routerLink="./reservation" class="nav-link">
        <i class="nav-icon far fa-image"></i>
        <p>Guest Management</p>
      </a>
    </li>
    <!-- contact  -->
    <li class="nav-item">
      <a routerLink="./contact" class="nav-link">
        <i class="nav-icon fa fa-phone"></i>
        <p>Contact</p>
      </a>
    </li>

  </ul>
</nav>
