<!-- <div class="wrapper">
  <mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email') && !forgotPasswordForm.controls['email'].hasError('required')">
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
            Email is required.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
         <!-- <form (submit)="onSubmit()" class="password-reset-form">
        <div class="form-outline">
            <input type="email"  required
         formControlName="email" id="typeEmail" name="email" [(ngModel)]="email" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>

         <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form> -->

        <div>
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="password-reset-form">
    <div  class="form-outline">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
        <div *ngIf="forgotPasswordForm.get('email').errors?.required">Email is required.</div>
        <div *ngIf="forgotPasswordForm.get('email').errors?.email">Invalid email format.</div>
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
  </form>
</div>


    </div>
</div>


<!-- forgot-password.component.html -->

