.wrapper {
    max-width: 350px;
    min-height: 00px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #3e4245;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}
.registration-form {
  max-width: 400px;
  margin: 0 auto;
}
