<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img
      src="assets/img/duksa.png"
      class="img-circle elevation-2"
      alt="User Image"
    />
  </div>
  <div class="info">
    <a routerLink="/home" class="d-block">Portal Admin</a>
  </div>
</div>

<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <li class="nav-item">
      <a routerLink="./homes" class="nav-link">
        <i class="nav-icon fas fa-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="./hoteldetail" class="nav-link">
        <i class="nav-icon fas fa-building"></i>
        <p>Hotel Management</p>
      </a>
    </li>



    <!-- <li class="nav-item">
      <a routerLink="./dash" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>User Management</p>
      </a>
    </li> -->


    <li class="nav-item">
      <a routerLink="./profile" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>profile Management</p>
      </a>
    </li>


  </ul>
</nav>
